@model EmployeePortal.Models.Job

@{
    ViewBag.Title = "Apply";
}
<div class="container">
    <h2>You are about to apply for the job of @Model.Title</h2>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Apply Now" class="btn btn-lg btn-success" />
        </div>
    </div>
</div>

