
@{
    ViewBag.Title = "JobClosed";
}

<h2>The expiration date for applying to this job has passed</h2>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <input type="submit" class="btn btn-default" value="Job Board" onclick="location.href='@Url.Action("Index", "Jobs")'" />
        </div>
    </div>
</div>

